body {
    margin: 0;
    min-height: 100vh;
    background: black;

    display: flex;
    justify-content: center;
    align-items: center;
}


.slideshow-container {
    position: relative;
    width: 90%;
    max-width: 350px;  /* or any width you want */
    aspect-ratio: 3 / 5;
}

    .slide {
    
    position: absolute;
    width: 100%;
    height: 100%;

    display: none;
        
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.slide img {
    width: 400px;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(255, 105, 180, 0.6);
}

.text {
    margin-top: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.fade {
    animation: fadeEffect 1.5s;
}



@keyframes fadeEffect {
    from {opacity: 0.4}
    to {opacity: 1}
}
